h1{
    color: rgb(255, 196, 0);
}

img{
   width: 400px;
}

#thirdDiv{
   height: 600px;
   width: 500px;
   background-color: aqua; 
   padding: 50px;  
   border: 5px solid blue;
}
 #spanId{
   font-size: 18px;
   margin: 50px;
 }  
 .vertical-container {
   height: 300px;
   display: -webkit-flex;
   display:         flex;
   -webkit-align-items: center;
           align-items: center;
   -webkit-justify-content: center;
           justify-content: center;
 }
 .container{
   height: 800px;
   display: -webkit-flex;
   display:         flex;
   -webkit-align-items: center;
           align-items: center;
   -webkit-justify-content: center;
           justify-content: center;

 }